body {
  font-family: "Roboto", sans-serif;
}
.header-container {
  background: #ffffff;
}
.logo {
  font-family: Raleway;
  font-weight: 600;
  font-size: 26px;
  line-height: 1, 192;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-style-header {
  color: #212121;
}
.navigation-container {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 143;
  letter-spacing: 0.02em;
}
.navigation-list {
  color: #212121;
}
.navigation-list-link:hover,
.navigation-list-link:focus {
  color: #2196f3;
}
.contacts-container {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 143;
  letter-spacing: 0.02em;
  color: #757575;
}
.contacts-list-link:hover,
.contacts-list-link:focus {
  color: #2196f3;
}
.btn-list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.btn-list-link:hover,
.btn-list-link:focus {
  background: #2196f3;
  color: #ffffff;
}
.gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  background: #ffffff;
}
.description {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
  background: #ffffff;
}
.footer {
  background: #2f303a;
}
.logo-style-footer {
  color: #ffffff;
}
.navigation-block {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
