body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
/* ====== HEADER ====== */
.header-container {
  background: var(--main-color);
}
.logo {
  font-family: Raleway;
  font-weight: 600;
  font-size: 26px;
  line-height: 1, 192;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.logo-style-header {
  color: #212121;
}
.navigation-container {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 143;
  letter-spacing: 0.02em;
  list-style-type: none;
}
.navigation-list {
  color: #212121;
}
.navigation-list-link:hover,
.navigation-list-link:focus {
  color: #2196f3;
}
.contacts-container {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 143;
  letter-spacing: 0.02em;
  color: #757575;
  list-style-type: none;
}
.contacts-list-link:hover,
.contacts-list-link:focus {
  color: #2196f3;
}
/* ====== END HEADER ====== */

/* ====== NAVIGATION ====== */
.btn-block {
  display: flex;
  list-style-type: none;
}
.btn-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 625;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.btn-list-link:hover,
.btn-list-link:focus {
  background: #2196f3;
  color: #ffffff;
}
/* ====== END NAVIGATION ====== */

/* ====== GALLERY ====== */
.gallery-list {
  list-style-type: none;
}
.foto-gallery {
  width: 370px;
}
.gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  background: var(--main-color);
}
.description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 875;
  letter-spacing: 0.03em;
  color: #757575;
  background: var(--main-color);
}
/* ====== END GALLERY ======= */

/* ====== FOOTER ====== */
.footer {
  background: #2f303a;
}
.logo-style-footer {
  color: #ffffff;
}
.navigation-block {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 714;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.contacts-info {
  list-style-type: none;
}
/* ====== END FOOTER ====== */
