:root {
  --main-color: #ffffff;
}
body {
  font-family: "Roboto", sans-serif;
  background-size: contain;
}
a {
  text-decoration: none;
}
/* ======== HEADER ======= */

.header-container {
  background: var(--main-color);
}
.logo {
  font-family: Raleway;
  font-weight: 600;
  font-size: 26px;
  line-height: 1, 192;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.logo-style-header {
  color: #212121;
}
.navigation-container {
  list-style-type: none;
}
.navigation-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 143;
  letter-spacing: 0.02em;
  color: #212121;
  cursor: pointer;
  margin-right: 50px;
}
.navigation-list-link:hover,
.navigation-list-link:focus {
  color: #2196f3;
}
.contacts-block {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 143;
  letter-spacing: 0.02em;
  color: #757575;
}
.contacts-list {
  list-style-type: none;
  text-decoration: none;
  cursor: pointer;
  margin-right: 50px;
  flex-direction: row-reverse;
}
.contacts-list-link:hover,
.contacts-list-link:focus {
  color: #2196f3;
}
/* ====== END HEADER ====== */

/* ====== HERO ====== */

.main-title {
  background: #2f303a;
}
.headline {
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 3636;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  width: 696px;
}
.modal-button-link {
  background: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 875;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.modal-button-link:hover,
.modal-button-link:focus {
  background: #2196f3;
}
/* ====== END HERO ====== */

/* ====== BENEFITS ====== */
.benefits {
  background: var(--main-color);
}
.text-container {
  display: flex;
}
.description {
  list-style-type: none;
}
.title-benefits {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 143;
  letter-spacing: 0.03em;
  color: #212121;
}
.description-texts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 714;
  letter-spacing: 0.03em;
  color: #757575;
}
/* ====== END BENEFITS ====== */

/* ====== MISSION ====== */
.options {
  background: #ffffff;
}
.options-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.images-container {
  display: flex;
}
.images {
  width: 370px;
  list-style-type: none;
}
.foto-tasks {
  margin-right: 30px;
  width: 370px;
}
/* ====== END MISSION ====== */

/* ====== TEAM ====== */
.team {
  background: #f5f4fa;
}
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 167;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.team-container {
  display: flex;
}
.team-list {
  list-style-type: none;
}
.foto {
  width: 270px;
}
.specialists {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.profession {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
/* ====== END TEAM ====== */

/* ====== FOOTER ====== */
.footer {
  background: #2f303a;
}
.logo-style-footer {
  color: #ffffff;
}
.navigation-address {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 714;
  letter-spacing: 0.03em;
  color: #ffffff;
}
/* ====== END FOOTER ====== */
